<!--
    Test design for creating a path to avoid a front-right obstacle 
    (the first cuadrant)
-->
<launch>
    <node name="test" pkg="testnode" type="testnode_map" output="log">
        <!--
        Param testnode_test options:
        1: Laser detects object in front of the car
        4: No object detected
        -->
        <param name="testnode_test"     type="int"      value="4"/>
    </node> 
    <node name="map" pkg="map" type="map" output="log">
        <param name="map/cell_resolution"     type="double"      value="1" />
        <param name="map/laser_range_max"     type="double"      value="6" />
    </node>
    <node name="states_mock" pkg="state_mock" type="state_mock" output="screen" />
    <node name="planner" pkg="planner" type="planner" output="screen" />
</launch>