<!--
    Test design for creating a path to avoid a front-right obstacle 
    (the first cuadrant)
-->
<launch>

    <node name="test" pkg="testnode" type="testnode" output="log">
        <param name="testnode_test"     type="int"      value="0"/>
    </node> 
    <node name="map" pkg="map" type="map" output="log">
        <param name="map/cell_resolution"     type="double"      value="2" />
        <param name="map/laser_range_max"     type="double"      value="6" />
    </node>
    <node name="planner" pkg="planner" type="planner" output="screen" />

</launch>