<!--
    Test design for testing map reading and interpretation for a laser-scan
    It takes a laser publication a publish an occupacy grid
-->

<launch>

    <node name="test" pkg="testnode" type="testnode" output="screen">
        <param name="testnode_test"     type="int"      value="1"/>
    </node> 
    <node name="map" pkg="map" type="map" output="screen" /> 

</launch>